* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin-top: 0;
    padding-top: 0;
    flex-grow: 1;
    position: relative;
}

.home-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/pexels-mdsnmdsnmdsn-1831234.jpg');
    z-index: 100;
    position: relative;
    animation: background-change 20s linear infinite;
}

.home-content-container {
    height: 200px;
    position: absolute;
    top: 45%;
    left: 40%
}

.container-content {
    text-transform: uppercase;
    font-size: 30px;
}


.about-us {
   margin-top: 0;
    padding-top: 8px;
    margin-bottom: 8px;
}

.about-us h4 {
    margin-top: 0;
}

@media screen and (max-width: 768px) {

    html {
        background-image: none;
    }

    body {
        background-color: bisque;
    }
    .header {
        background-color: rgb(192, 173, 173);
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: block;
    }

    .logo img {
        display: none;
    }

    .logo h1 {
        margin: 8px;
        padding: 8px;
        text-align: center;
    }

    .navigation_bar {
        margin: 8px 0;
        padding: 16px;
        width: 100%;
        background-color: beige;
        justify-content: space-between;
    }

    .navigation_bar a {
        font-size: 18px;
    }

    .home-content {
        background-image: none;
        animation: none;
    }

    .container-content {
        display: none;
    }

    .about-us {
        z-index: 100;
        background-color: bisque;
        justify-content: center;
        margin: 8px;
        padding: 16px;
        border: 2px solid salmon;
        border-radius: 10px;
        position: absolute;
        margin-top: 50%;
    }

    .about-us h4 {
        margin: 0;
        padding: 16px;
    }

    .about-us p {
        margin: 8px;
        padding: 8px;
        text-align: justify;
    }
}

@keyframes background-change{

    10% {
        background-image: url('../images/pexels-mdsnmdsnmdsn-1831234.jpg');
        animation-delay: 30s;
    }

    25% {
        background-image: url('../images/pexels-mdsnmdsnmdsn-1831234.jpg');
        animation-delay: 30s;
    }

    50% {
        background-image: url('../images/pexels-karolina-grabowska-5485119.jpg');
        animation: 30s;
    }

    75% {
        background-image: url('../images/pexels-leeloothefirst-5715242.jpg');
        animation-delay: 30s;
    }

    100% {
        background-image: url('../images/pexels-karolina-grabowska-5713662.jpg');
        animation-delay: 30s;
    }
}